body {
  background-color: #464646;
  background-image: url("./img/noise-444444.png");
  background-repeat: repeat-xy;

  font-family: "Montserrat";
}



:focus {
  outline: none;
}



@keyframes join {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}



.rmoj {
  animation: join .5s forwards;
}


.centered {
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0)
}


.menu {
  position: absolute;

  width: 800px;
  height: 600px;

  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6); 
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
}


.submenu {
  position: relative;

  border-radius: 16px;

  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 16px;

  width: auto;
  height: calc(30px + (8px * 2));

  color: #ccc;
  background-color: #666;

  text-shadow: 0 0 1px #555, 
               0 0 2px #555, 
               0 0 3px #555, /* #e60073 */
               0 0 4px #555, /* ~ */
               0 0 5px #555;/*, /* ~ 
               0 0 6px #555, /* ~ 
               0 0 7px #555; /* ~ */

  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6); 
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
}


.label {
  color: #ddd;
}



#entry-uname {
  top: 50px;

  padding: 8px;
  padding-left: 32px;
  padding-right: 32px;

  font-size: 32px;
  text-align: center;

  border: none;
  border-radius: 32px;
}


#menu-main {
  padding: 8px;
  padding-top: 16px;

  top: calc(50% - ((600px + (8px * 2)) / 2));

  border-radius: 32px;

  background-color: #666;
}


#submenu-login {
  width: 200px;
  height: 150px;

  left: 10px;
  top: 10px;

  color: #7289DA;
  text-decoration: 0;
}
#submenu-login:hover {
  text-shadow: 0 0 1px #999, 
               0 0 2px #666, 
               0 0 3px #555, /* #e60073 */
               0 0 4px #555, 
               0 0 5px #555;/*, /* ~ 
               0 0 6px #555, /* ~ 
               0 0 7px #555; /* ~ */
}


#label-username {
  top: 50px;
  font-size: 24px;
}

#banner-main {
  position: relative;

  top: 80px;

  width: 697px;
  height: 392px;

  border: none;
  border-radius: 32px;

  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6); 
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.6);
}